.sidebar-list{
    padding-left: 1em;
}

.sidebar-item {
    padding: 14px 0;
    width: 100%;
}

.form-select {
    width: 50%;
    display: inline;
}

.form-control{
    display: inline-block;
    width: 90%;
}

.td-table-top{
    display: flex;
    align-items: center;
    padding: 10px;
}

.content-manager {
    margin: 50px;
    min-height: 70vh;
}
